/* --------------------------------------- */

/* ----- Basic Setup ----- */

/* --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-size-small: 1.8rem;
  --font-size-small-1: 2rem;
  --font-size-normal-1: 2.2rem;
  --font-size-normal: 2.5rem;
  --font-size-medium: 2.8rem;
  --font-size-mediummm: 3rem;
  --font-size-mediumm: 3.6rem;
  --font-size-medium-1: 4.1rem;
  --font-size-medium-2: 4.8rem;
  --font-size-large: 5.7rem;
  --font-size-huge: 6.5rem;
  --container-max-width: 1240px;
  --container-normal-width: 800px;
  --container-medium-width: 700px;
  --container-small-width: 500px;
  --gutter-huge: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 4.5rem;
  --gutter-normal-1: 5rem;
  --gutter-small-2: 3.4rem;
  --gutter-small-1: 2.5rem;
  --gutter-small: 2rem;
  --gutter-smalll: 1.5rem;
}

html {
  font-size: 62.5%;
  /* (16/10)*100 = 62.5% => 1rem = 10px */
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0),
    rgb(24, 1, 24)
  );
  color: white;
  line-height: 1.5;
}

@media (max-width: 1160px) {
  html {
    font-size: 50%;
  }
}

.row {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .row {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 900px) {
  .row {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-small-1);
  }
}

img {
  object-fit: contain;
  max-width: 100%;
}

/* --------------------------------------- */

/* ----- HEADER ----- */

/* --------------------------------------- */

.header {
  height: 100vh;
}

.header__img {
  width: 100%;
  height: auto;
}

.header__text-box {
  height: 67vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  font-size: var(--font-size-medium-2);
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 2px;
}

.header__paragraph {
  font-size: var(--font-size-normal);
  font-weight: 300;
  margin-top: var(--gutter-small);
  margin-bottom: var(--gutter-normal);
  letter-spacing: 1px;
  max-width: 60rem;
  color: #fff;
  opacity: 0.7;
  max-width: 50rem;
}

/* --------------------------------------- */

/* ----- Button ----- */

/* --------------------------------------- */

.btn {
  padding: 1.7rem 2.8rem;
  background-image: linear-gradient(to left, #6e3cbc, #d47ae8, #6e3cbc);
  background-size: 200%;
  color: rgb(243, 241, 241);
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.btn-nav {
  padding: 7px 2rem;
}

.btn:hover {
  background-position: right;
}

@media (max-width: 1240px) {
  .btn {
    padding: 1.5rem 2.4rem;
    font-size: 1;
  }

  .btn-nav {
    padding: 7px 2rem;
  }
}
/* 
@media (max-width: 490px) {
  .btn-nav {
    padding: 7px 1rem;
    font-size: 1rem;
    min-width: 10rem;
  }
} */

/* --------------------------------------- */

/* ----- NAVIGATION ----- */

/* --------------------------------------- */

.nav {
  display: flex;
  justify-content: flex-end;
  padding: var(--gutter-normal) 0;
}

.nav__items {
  display: flex;
  list-style: none;
}

.nav__link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s;
  letter-spacing: 1px;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.nav__item:not(:last-child) {
  margin-right: var(--gutter-normal);
}

/* --------------------------------------- */

/* ----- WORK SECTION ----- */

/* --------------------------------------- */

.work__heading {
  font-size: var(--font-size-large);
  font-weight: 400;
  font-family: inherit;
  margin-bottom: var(--gutter-normal);
}

/* .work__heading::after {
  content: "";
  display: block;
  height: 2px;
  width: 12rem;
  background-color: white;
  margin: var(--gutter-small) 0;
} */

.work__text--heading {
  font-size: var(--font-size-medium);
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: var(--gutter-normal);
  margin-top: var(--gutter-normal);
  line-height: 0;
}

.work__text--paragraph {
  font-size: var(--font-size-normal-1);
  margin-bottom: var(--gutter-medium);
  font-weight: 100;
  max-width: 89%;
}

.work__box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.work__box:not(:last-child) {
  margin-bottom: 25rem;
}

@media (max-width: 990px) {
  .work__box {
    flex-direction: column-reverse;
  }
}

.work__list {
  list-style-position: inside;
  margin-bottom: var(--gutter-medium);
  font-size: var(--font-size-small-1);
  font-weight: 300;
  opacity: 0.8;
}

.work__list-used {
  font-weight: 600;
  color: white;
}

.work__text {
  flex: 0 0 35%;
}

.work__img {
  border-radius: 1rem;
  transition: all 0.4s;
  /* box-shadow: 2px 2px 10px rgba(109, 60, 188, 0.801); */
}

.work__img:hover {
  transform: scale(1.03);
}

/* --------------------------------------- */

/* ----- ABOUT SECTION ----- */

/* --------------------------------------- */

.about {
  padding: 16rem 0;
}

.about__box {
  display: flex;
  align-items: center;
  margin-top: -7rem;
}

@media (max-width: 990px) {
  .about__box {
    flex-direction: column-reverse;
  }
}

.about__paragraph {
  font-size: var(--font-size-normal-1);
  max-width: 80%;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: var(--gutter-medium);
}

.about__img {
  height: 50rem;
  clip-path: circle();
  max-width: 50rem;
  -webkit-filter: grayscale(1) opacity(0.9);
}

@media (max-width: 460px) {
  .about__img {
    height: 40rem;
  }
}

.about__box-img {
  flex: 0 0 45%;
}

/* --------------------------------------- */

/* ----- CONTACT SECTION ----- */

/* --------------------------------------- */

.input {
  border: none;
  background: none;
  border-bottom: 1px solid white;
  width: 60%;
  padding: 1.5rem;
  color: white;
  outline: none;
  display: block;
}

.input-message {
  padding-bottom: 5rem;
}

.btn-margin-small {
  margin-top: 3rem;
}

.input:not(:last-child) {
  margin-bottom: var(--gutter-small-1);
}

::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-family: inherit;
}

label {
  font-size: var(--font-size-small);
  font-weight: 600;
  letter-spacing: 1px;
}

/* --------------------------------------- */

/* ----- FOOTER ----- */

/* --------------------------------------- */

.footer {
  /* text-align: center;  */
  padding: var(--gutter-huge) 0 var(--gutter-medium);
}
/* 
.footer__social-links {
  display: flex;
  padding: var(--gutter-normal) 0;
  list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
  margin-right: var(--gutter-small);
}

.footer__social-image {
  height: 4rem;
} */

.footer__paragraph {
  font-size: var(--font-size-small);
}

.gotopbtn {
  position: fixed;
  background: #6e3cbc;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 5rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.gotopbtn.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.fa {
  font-size: 1.4rem;
}

/* --------------------------------------- */

/* ----- MEDIA QUARIES ----- */

/* --------------------------------------- */

@media (max-width: 1040px) {
  .header__img {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__heading {
    font-size: var(--font-size-medium-1);
  }
}

@media (max-width: 433px) {
  .header__heading {
    font-size: var(--font-size-mediumm);
  }

  .header__paragraph {
    font-size: var(--font-size-normal-1);
  }
}

@media (max-width: 410px) {
  .btn-nav {
    padding: 6px 1rem;
    font-size: 1rem;
    min-width: 11rem;
  }

  .nav__item:not(:last-child) {
    margin-right: var(--gutter-small-2);
  }
}

@media (max-width: 351px) {
  .nav__item:not(:last-child) {
    margin-right: var(--gutter-small-1);
  }
}

@media (max-width: 385px) {
  .header__heading {
    font-size: var(--font-size-mediummm);
  }
}

@media (max-width: 327px) {
  .nav__item:not(:last-child) {
    margin-right: var(--gutter-small);
  }

  .nav__link {
    font-size: 1.8rem;
  }

  .btn-nav {
    padding: 6px 9px;
    font-size: 1rem;
  }
}

@media (max-width: 746px) {
  .about__paragraph {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .about__img {
    margin-top: 6rem;
  }
}

@media (max-width: 300px) {
  .nav__item:not(:last-child) {
    margin-right: var(--gutter-smalll);
  }
}

@media (max-width: 294px) {
  .heading-contributive {
    font-size: var(--font-size-normal);
  }
}

@media (max-width: 990px) {
  .input {
    width: 100%;
  }
}


.hidden {
  visibility: hidden;
  transform: translateY(6rem);
}